extends layout

block content
  section#heading
        h2 List of Products
        each product in products
            div.card
              a(href=`/products/${product._id}`)
               span="Name: "
               i=product.title
               br
               span="Description: "
               i=product.description
               br
               span="Price: "
               i=product.price               